.wishlist {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .wish {
        width: 300px;
        border: 7px solid blue;
        padding: 50px;
        margin: 20px;
      }
      